# SQLite
# DATABASE_URL=sqlite:///./products.db

# MySQL
# DATABASE_URL=mysql+pymysql://USERNAME:PASSWORD@localhost/DATABASE_NAME

# PostgreSQL
# DATABASE_URL=postgresql+psycopg://USERNAME:PASSWORD@localhost/DATABASE_NAME